@mixin valueStyle {
   outline: none;
   width: max-content;
   width: 100%;
   word-break: break-all;
   font-size: 20px;
}

.NoteCreator {
   border: 1px #9aa0a6 solid;
   border-radius: 1vw;
   width: 450px;
   margin: 0 auto;
   padding: 5px;
   color: #fff;
   &__titleContainer {
      font-size: 20px;
      position: relative;
      display: flex;
      justify-content: space-between;
   }
   $iconColor: #bdc3c7;
   &__pin {
      float: right;
      font-size: 30px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $iconColor;
      color: rgba(0, 0, 0, 0);
      padding: 0px 5px;
      &:hover {
         -webkit-text-stroke-width: 0px;
         -webkit-text-stroke-color: $iconColor;
         color: #fff;
      }

      &--pined {
         -webkit-text-stroke-width: 0px;
         -webkit-text-stroke-color: $iconColor;
         color: #fff;
         &:hover {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $iconColor;
            color: rgba(0, 0, 0, 0);
         }
      }
   }

   &__titleValue {
      @include valueStyle;
   }

   &__contextContainer {
      font-size: 20px;
      position: relative;
   }

   &__contextValue {
      @include valueStyle;
   }

   &__textHolder {
      color: #bdc3c7;
      pointer-events: none;
      font-size: 20px;
      position: absolute;
      top: 0;
      left: 0;
      &--title {
      }
      &--context {
      }
   }

   &__options {
      display: flex;
   }
   &__rigthOptions {
      width: 100%;
      text-align: right;
   }
   &__addBtn,
   &__closeBtn {
      margin: 0px 5px;
      cursor: pointer;
   }
}
