$iconColor: #bdc3c7;

@keyframes fadeOut {
   0% {
      opacity: 1;
      max-height: 200px;
      width: 300px;
   }
   50% {
      opacity: 0;
      max-height: 200px;
      width: 300px;
   }

   100% {
      opacity: 0;
      height: 0px;
      width: 0;
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
      height: 0px;

      width: 0;
   }
   40% {
      opacity: 0;
      height: 0px;

      width: 300px;
   }
   100% {
      opacity: 1;
      max-height: 200px;
      width: 300px;
   }
}

.noteFadeOut {
   animation: fadeOut 0.5s ease-in-out;
}

.noteFadeIn {
   animation: fadeIn 0.5s ease-in-out;
   animation-fill-mode: forwards;
}

.Note {
   &:hover {
      .Note {
         &__pinIcon,
         &__options {
            opacity: 1;
         }
      }
   }
   display: flex;
   display: flex;
   flex-direction: column;
   border: 2px solid #9aa0a6;
   border-radius: 15px;
   opacity: 0;
   color: white;
   padding: 5px;
   margin: 8px;
   justify-content: space-between;

   &__textContainer {
      cursor: pointer;
      overflow-y: hidden;
   }

   &__title {
      padding: 2px;
   }
   &__titleValue {
      font-size: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   &__pinIcon {
      opacity: 0;
      svg {
         color: rgba(0, 0, 0, 0);
         margin-top: -5px;
         transition: opacity 0.3s ease;
         float: right;
         font-size: 50px;

         path {
            stroke-width: 25px;
            stroke: $iconColor;
         }
         padding: 0px 5px;
         &:hover {
            path {
               stroke-width: 0px;
               color: #fff;
            }
         }
      }

      &--pined {
         path {
            stroke-width: 0px !important;
            color: #fff;
         }
         &:hover {
            path {
               stroke-width: 25px !important;
               stroke: $iconColor;
               color: rgba(0, 0, 0, 0) !important;
            }
         }
      }
   }
   &__content {
      font-size: 20px;
      word-wrap: break-word;

      overflow: hidden;
      text-overflow: ellipsis;
   }

   &__options {
      opacity: 0;
      transition: opacity 0.3s ease;
      svg {
         text-align: center;
         font-size: 35px;
         color: rgba(0, 0, 0, 0);
         padding: {
            top: 8px;
            right: 8px;
         }

         path {
            transition: color 0.2s ease, stroke-width 0.2s ease;
            stroke: #bdc3c7;
            stroke-width: 25px;
         }

         &:hover {
            path {
               stroke: $iconColor;
               stroke-width: 0px;
               color: #fff;
            }
         }
      }
   }
}
