.curtain {
   z-index: 500;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: RGBA(32, 33, 36, 0.9);
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin valueStyle {
   outline: none;

   width: 100%;
   word-break: break-all;
}

.NoteEditor {
   z-index: 999;
   color: white;
   border: 1px #9aa0a6 solid;
   border-radius: 1vw;
   width: 550px;

   margin: 0 auto;
   padding: 10px;
   color: #fff;
   &__titleContainer {
      font-size: 30px;
      position: relative;
      display: flex;
      justify-content: space-between;
   }
   $iconColor: #bdc3c7;
   &__pin {
      svg {
         color: rgba(0, 0, 0, 0);
         padding-top: 2px;
         transition: opacity 0.3s ease;
         float: right;
         font-size: 35px;

         path {
            stroke-width: 25px;
            stroke: $iconColor;
         }

         &:hover {
            path {
               stroke-width: 0px;
               color: #fff;
            }
         }
      }

      &--pined {
         path {
            stroke-width: 0px !important;
            color: #fff;
         }
         &:hover {
            path {
               stroke-width: 25px !important;
               stroke: $iconColor;
               color: rgba(0, 0, 0, 0) !important;
            }
         }
      }
   }

   &__textContainer {
      max-height: 50vh;
      overflow-y: auto;
   }

   &__titleValue {
      @include valueStyle;
   }

   &__contentContainer {
      margin: 10px 0px;
      font-size: 20px;
      position: relative;
   }

   &__contentValue {
      @include valueStyle;
   }

   &__textHolder {
      color: #bdc3c7;
      pointer-events: none;
      font-size: 20px;
      position: absolute;
      top: 0;
      left: 0;
      &--title {
         font-size: 30px;
      }
   }

   &__options {
      display: flex;
      justify-content: space-between;
      font-size: 25px;
      & div {
         transition: opacity 0.3s ease;
         svg {
            text-align: center;
            font-size: 30px;
            color: rgba(0, 0, 0, 0);
            padding: {
               top: 8px;
               right: 8px;
            }

            path {
               transition: color 0.2s ease, stroke-width 0.2s ease;
               stroke: #bdc3c7;
               stroke-width: 25px;
            }

            &:hover {
               path {
                  stroke: $iconColor;
                  stroke-width: 0px;
                  color: #fff;
               }
            }
         }
      }
   }

   &__closeBtn {
      margin: 0px 5px;
      cursor: pointer;
   }
}
