*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #28292c;
}

html,
body {
   height: 100%;
}

/* fonts */
@font-face {
   font-family: Bebas Neue;
   src: url('./font/BebasNeue-Regular.ttf');
}
.App {
   &__banner {
      text-align: center;
   }
   &__title {
      color: #fff;
      font-family: 'Bebas Neue', cursive;
      font-size: 60px;
      margin: 5px 15px;
      line-height: 60px;
      font-weight: normal;
   }

   &__line {
      background: #fff;
      height: 1px;
   }
}
