.App {
   &__banner {
      text-align: center;
   }
   &__title {
      color: #fff;
      font-family: 'Bebas Neue', cursive;
      font-size: 60px;
      margin: 5px 15px;
      line-height: 60px;
      font-weight: normal;
   }

   &__line {
      background: #fff;
      height: 1px;
   }
}
