*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #28292c;
}

html,
body {
   height: 100%;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
